body{
  /* background-color: #ecf0f1; */
  background-color : #34495e;


}
/* h1{
  color: #34495e;
} */

body{
  color : #34495e;
}
/* .headerWrap{
  display: flex;
  height: 200px;
  width: 100%;
} */
.information{
  width: 20%;
  height: 100%;
  text-align: center;
  background-color: #E6E6E6;
}
.todoToday{
  width:100%;
  height: 300px;
  border : 1px solid gray;
  background-color: #F2F2F2;
  margin-top: 10px;
}
.bodyWrap{
  width: 100%;
  height: 700px;
  display: flex;
}
.todosWrap{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  /* justify-content: center; */
  height: 100%;
  width: 80%;
}
.todoWrap{
  /* height: 95%; */
  /* width: 150px; */
  border : 1px solid gray;
  background-color: #F2F2F2;
  padding: 10px 10px;
}
.DayOfTheWeek{
  margin-bottom: 2px;
  border-bottom: 1px solid gray;
  text-align: center;
  width: 100%;
  height: 20px;
}
.js-toDoForm{
  display: flex;
  justify-content: center;
}
.js-toDoForm input{
  width: 93%;
  text-align: center;
}
.js-toDoList{
  list-style: none;
  padding: 0;
  text-overflow: ellipsis;
}

.clicked{
  color:#7f8c8d;
}

.form,
.greetings{
  display: none;
}
.showing{
  display: block;
}

.bgImage{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }

}
